*{
    margin: 0;
}

nav{
    width: 100%;
    height: 80px;
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
}
a{
    text-decoration: none;
}

#learnMore{
    text-decoration: none;
}

#welcomeContain{
    background-color: lightblue;
}

#lipsumContainer{
    background-color: lightblue;
    height: 180px;
}
#lipsumContain1{
    margin-top: 10px;
    margin-left: 50px;
    float: left;
    width: 600px;
}

#lipsumContain2{
    margin-top: 10px;
    margin-left: 50px;
    float: left;
    width: 600px;
}
#learnMore{
    background-color: lightblue;
}


#lipsumContain{
    margin-top: 80px;
    text-align: center;
}

img{
    margin-top: 80px;
    height: 200px;
    width: 200px;
}


.imageContain {
    background-color: lightgray;
    height: 500px;
    top-margin: 80px;

}


.imageContain1{
    margin-top: 30px;
    float: left;
    height: 400px;
    width: 250px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 30px;
    background-color: lightblue;
}

.imageContain2{
    margin-top: 30px;
    float: left;
    height: 400px;
    width: 250px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 30px;
    background-color: lightblue;
}
.imageContain3{
    margin-top: 30px;
    float: left;
    height: 400px;
    width: 250px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 30px;
    background-color: lightblue;
}
.imageContain4{
    margin-top: 30px;
    float: left;
    height: 400px;
    width: 250px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 30px;
    background-color: lightblue;
}

.wrapper{

}


@media screen and (max-width: 800px){
    .imageContain{
        width: 100%;
    }
    .imageContain1{
        width: 100%;
    }
    .imageContain2{
        width: 100%;
    }
    .imageContain3{
        width: 100%;
    }
    .imageContain4{
        width: 100%;
    }
}
@media screen and (min-width: 800px){

    .imageContain1{
        margin: 8px;
        width: 250px;
    }
    .imageContain2{
        margin: 8px;
        width: 250px;
    }
    .imageContain3{
        margin: 8px;
        width: 250px;
    }
    .imageContain4{
        margin: 8px;
        width: 250px;
}
}

footer{
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: grey;
}